<form [formGroup]="user" class="loginField" #loginForm>
  <h2>Login</h2>
  <mat-form-field appearance="fill">
    <mat-label>login</mat-label>
    <input
      formControlName="login"
      matInput
      type="text"
      name="login"
      #inputEmail
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>password</mat-label>
    <input
      formControlName="password"
      matInput
      type="password"
      name="password"
      #inputPassword
    />
  </mat-form-field>
  <button mat-flat-button type="submit" class="login-button">Login</button>
</form>
