$textColorWhite: #FFFFFF;
$bgButtonColorBlue: #2F80ED;
$bgColor: #F2F2F2;

:host {
  box-sizing: border-box;

  .loginField {
    margin: 0 auto;
    width: 344px;
    height: 248px;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;

    h2 {
      margin: 28px 0 11px 20px;
      width: 310px;
      height: 22px;
    }

    mat-form-field {
      margin: 0 0 5px 20px;
      width: 304px;
      height: 53px;
    }

    .login-button {
      margin: 17px 20px 0 auto;
      width: 124px;
      height: 30px;
      font-size: 12px;
      color: $textColorWhite;
      line-height: 14.06px;
      background-color: $bgButtonColorBlue;
    }
  }
}