<mat-card class="column">
  <div class="buttons-group">
    <button
      mat-icon-button
      color="warn"
      aria-label="delete button"
      matTooltip="Delete the Column"
      matTooltipPosition="above"
      (click)="onClickDeleteColumn($event, boardId)"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <mat-card-header>
    <mat-card-title
      class="column__title"
      matTooltip="Change the Column title"
      matTooltipPosition="above"
      >{{ column.title }}</mat-card-title
    >
  </mat-card-header>
</mat-card>
