.column {
  width: 300px;
  min-height: 100px;
}

.column__title {
  cursor: pointer;
}

.card-header {
  padding-bottom: 0.5rem;
}

.buttons-group {
  display: flex;
  justify-content: right;
}

.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.input-container {
  margin-left: -16px;
  display: flex;
  gap: 0.5rem;
}

.title-input {
  width: 200px;
}

.button-input {
  width: 34px;
  height: 34px;
  line-height: 34px;
}
