<mat-card class="column-card" cdkDrag [cdkDragData]="column">
  <div class="buttons-group">
    <div class="dragHandle" cdkDragHandle>
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
        ></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <button class="addTaskBtn" mat-icon-button (click)="onClickCreateTask()">
      <mat-icon color="primary">note_add</mat-icon>
      Add a Task
    </button>
    <button
      mat-icon-button
      color="warn"
      aria-label="delete button"
      matTooltip="Delete the Column"
      matTooltipPosition="above"
      (click)="onClickDeleteColumn($event)"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>
  <mat-card-header class="card-header">
    <mat-card-title
      *ngIf="!isShowTitleInput"
      class="column__title"
      matTooltip="Change the Column title"
      matTooltipPosition="below"
      (click)="onClickTitle()"
      >{{ column.title }}</mat-card-title
    >
    <!-- Input -->
    <div *ngIf="isShowTitleInput" class="input-container">
      <textarea
        #titleInput
        class="title-textarea"
        [value]="column.title"
        (keyup.enter)="onClickButtonDoneInput(titleInput.value)"
        maxlength="50"
      ></textarea>
      <div class="buttons-input-group">
        <button
          class="button-input"
          mat-icon-button
          color="warn"
          aria-label="close button"
          matTooltip="Close the Input"
          matTooltipPosition="above"
          (click)="onClickButtonCloseInput()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <button
          class="button-input"
          mat-icon-button
          color="primary"
          aria-label="done button"
          matTooltip="Submit the Title"
          matTooltipPosition="above"
          (click)="onClickButtonDoneInput(titleInput.value)"
        >
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
    <!-- END Input -->
  </mat-card-header>
  <mat-card-content
    class="tasks"
    cdkDropList
    [cdkDropListData]="column"
    (cdkDropListDropped)="drop($event)"
  >
    <app-task
      class="task"
      *ngFor="let task of column.tasks | sortTasksByOrder"
      [boardId]="boardId"
      [columnId]="column.id"
      [task]="task"
      cdkDrag
      [cdkDragData]="task"
      (click)="onClickTask($event, task)"
    ></app-task>
  </mat-card-content>
</mat-card>
