@import '../../../core/color-vars.scss';

.column {
  width: 300px;
  min-height: 100px;
}

.column__title {
  cursor: pointer;
}

.buttons-group {
  display: flex;
  justify-content: right;

  .example-handle {
    margin: 8px 90px 0 0;
    width: 24px;
    height: 24px;
    color: $cdkDragHandleColor;
    cursor: move;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
