.user-general-form {
  --general-color: #bab4b4;
}

.heading {
  margin-bottom: 1rem;
}

.user-general-form {
  border-radius: 10px;
  border: 1px solid var(--general-color);

  display: flex;
  flex-direction: column;
}

.user-edit-input {
  font-size: 1rem;
}

@media (max-width: 414.98px) {
  .user-general-form {
    box-sizing: border-box;
    width: 300px;
  }

  .heading {
    font-size: 28px;
    text-align: center
  }
}
