<mat-card>
  <div class="buttons-group">
    <button
      mat-icon-button
      color="warn"
      aria-label="delete button"
      matTooltip="{{ 'modal.delete.task.title' | translate }}"
      matTooltipPosition="above"
      (click)="onClickDeleteTask($event)"
    >
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>
  <mat-card-header>
    <mat-card-title>{{ task.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ task.description }}</p>
  </mat-card-content>
</mat-card>
