<header class="wrapper">
  <h1>PMa</h1>
  <div class="controls">
    <app-language-toggler></app-language-toggler>
    <a
      *ngIf="isAuthUser$ | async; else login"
      mat-button
      [matMenuTriggerFor]="menu"
      color="primary"
      ><span class="username">
        {{ userName }}
      </span>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onEditProfileClick()">
        {{ 'header.editProfile' | translate }}
      </button>
      <button mat-menu-item (click)="onLogoutClick()">
        {{ 'header.logout' | translate }}
      </button>
    </mat-menu>
    <ng-template #login>
      <section *ngIf="showBigButtons; else iconButtons" class="buttons">
        <button mat-raised-button color="primary" (click)="onLogInClick()">
          {{ 'welcomePage.logInButtonLabel' | translate }}
        </button>
        <button mat-raised-button color="warn" (click)="onSignUpClick()">
          {{ 'welcomePage.signUpButtonLabel' | translate }}
        </button>
      </section>
      <ng-template #iconButtons>
        <section class="icon-buttons">
          <button
            mat-icon-button
            aria-label="Login"
            matTooltip="{{ 'welcomePage.logInButtonLabel' | translate }}"
            matTooltipPosition="above"
            color="primary"
            (click)="onLogInClick()"
          >
            <mat-icon
              svgIcon="login-icon"
              color="primary"
              class="icon"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="SignUp"
            matTooltip="{{ 'welcomePage.signUpButtonLabel' | translate }}"
            matTooltipPosition="above"
            color="primary"
            (click)="onSignUpClick()"
          >
            <mat-icon
              svgIcon="signup-icon"
              color="accent"
              class="icon"
            ></mat-icon>
          </button>
        </section>
      </ng-template>
    </ng-template>
  </div>
</header>
