<header class="wrapper">
  <app-language-toggler></app-language-toggler>
  <button
    *ngIf="isAuthUser$ | async; else login"
    mat-stroked-button
    [matMenuTriggerFor]="menu"
    color="primary"
  >
    {{ userName }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onEditProfileClick()">
      {{ 'header.editProfile' | translate }}
    </button>
    <button mat-menu-item (click)="onLogoutClick()">
      {{ 'header.logout' | translate }}
    </button>
  </mat-menu>
  <ng-template #login>
    <section class="buttons">
      <button mat-raised-button color="primary" (click)="onLogInClick()">
        {{ 'welcomePage.logInButtonLabel' | translate }}
      </button>
      <button mat-raised-button color="warn" (click)="onSignUpClick()">
        {{ 'welcomePage.signUpButtonLabel' | translate }}
      </button>
    </section>
  </ng-template>
</header>
