@import "abstracts/variables";

:host{
  display: block;
  left: 0px;
  position: fixed;  
  height: $header-default-height;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%) ;  
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: $content-width;
  min-width: $min-mobile-width;
  padding: 0px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.buttons {
  display: flex;
  gap: 1rem;
}