<header class="wrapper">
  <a mat-button class="title" (click)="onTitleClick()" color="warn">PMa</a>
  <ng-content></ng-content>
  <div class="controls">
    <app-language-toggler></app-language-toggler>

    <ng-container *ngIf="isAuthUser$ | async; else login">
      <a mat-button class="username" [matMenuTriggerFor]="menu" color="primary">
        {{ userName }}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEditProfileClick()">
          {{ 'header.editProfile' | translate }}
        </button>
        <button mat-menu-item (click)="onLogoutClick()">
          {{ 'header.logout' | translate }}
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #login>
      <section class="buttons" *ngIf="showBigButtons | async; else iconButtons">
        <button mat-raised-button color="primary" (click)="onLogInClick()">
          {{ 'welcomePage.logInButtonLabel' | translate }}
        </button>
        <button mat-raised-button color="warn" (click)="onSignUpClick()">
          {{ 'welcomePage.signUpButtonLabel' | translate }}
        </button>
      </section>
      <ng-template #iconButtons>
        <section class="icon-buttons">
          <button
            mat-icon-button
            aria-label="Login"
            matTooltip="{{ 'welcomePage.logInButtonLabel' | translate }}"
            matTooltipPosition="above"
            color="primary"
            (click)="onLogInClick()"
          >
            <mat-icon
              svgIcon="login-icon"
              color="primary"
              class="icon"
            ></mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="SignUp"
            matTooltip="{{ 'welcomePage.signUpButtonLabel' | translate }}"
            matTooltipPosition="above"
            color="primary"
            (click)="onSignUpClick()"
          >
            <mat-icon
              svgIcon="signup-icon"
              color="accent"
              class="icon"
            ></mat-icon>
          </button>
        </section>
      </ng-template>
    </ng-template>
  </div>
</header>
