<h1 mat-dialog-title>{{ data.confirmationTitleText }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>{{ data.password }}</mat-label>
    <input
      #password
      matInput
      type="password"
      [formControl]="passwordControl"
      [placeholder]="data.inputPlaceholder"
      autocomplete="off"
    />
  </mat-form-field>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null" color="warn">
    {{ data.rejectionButtonText }}
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="passwordControl.value"
    color="primary"
    [disabled]="!passwordControl.valid"
  >
    {{ data.confirmationButtonText }}
  </button>
</div>
