$borders-drop-shadow-color: #a5a5a5;

$header-default-height: 6rem;
$footer-height: 5rem;

//--breakpoints
$content-width: 1200px;//desktop

$max-tablet-width: 1199px;
$max-mobile-width: 768px;
$min-mobile-width: 320px;

$wrapper-1200-padding: 40px;
$wrapper-708-padding: 30px;
