@import "abstracts/variables";

.auth-header + .content {
  padding-top: $header-default-height;
}
.content {
  box-sizing: border-box;
  height: 100%;
  min-width: $min-mobile-width;
  padding: $wrapper-1200-padding;
  padding-bottom: calc($footer-height + $wrapper-1200-padding);
  margin: 0 auto;
}
