@import "abstracts/variables";

.auth-header + .main {
  padding-top: $header-default-height;
}
.main {
  background: linear-gradient(138deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);
  box-sizing: border-box;
  height: 100%;
  min-width: $min-mobile-width;
  padding-bottom: $footer-height;
  margin: 0 auto;
}
.content{
  transition: all 0.3s ease-in;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  // padding: $wrapper-1200-padding;
}
