<form [formGroup]="user" class="loginField">
  <h2>Sign up</h2>
  <mat-form-field appearance="fill">
    <mat-label>name</mat-label>
    <input formControlName="name" matInput autocomplete="off" />
    <mat-error *ngIf="name.errors?.['required']">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <!-- <div *ngIf="name.invalid && (name.touched || name.dirty)">
    <span *ngIf="name.errors?.['required']" class="alert"
      >Field is required</span
    >
  </div> -->
  <mat-form-field hintLabel="Min 5 characters" appearance="fill">
    <mat-label>login</mat-label>
    <input formControlName="login" matInput autocomplete="off" />
    <mat-hint align="end"
      >{{ login.value?.length || 0 }} (min 5 chars)</mat-hint
    >
    <mat-error *ngIf="login.errors?.['required']">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>
  <mat-form-field hintLabel="Min 6 characters" appearance="fill">
    <mat-label>password</mat-label>
    <input
      formControlName="password"
      matInput
      autocomplete="off"
      [type]="hide ? 'password' : 'text'"
    />
    <mat-hint align="end"
      >{{ password.value?.length || 0 }} (min 6 chars)</mat-hint
    >
    <mat-error *ngIf="password.errors?.['required']">{{
      getErrorMessage()
    }}</mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    class="signup-button"
    [disabled]="buttonDisabled"
    (click)="signUp()"
  >
    Sign up
  </button>
</form>
