<div class="wrapper">
  <h1><b>P</b>roject <br /><b>M</b>anagement <br /><b>a</b>pplication</h1>
  <h2>{{ 'welcomePage.headling2' | translate }}</h2>
  <h3>{{ 'welcomePage.aboutApp' | translate }}</h3>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="onSignUpClick()">
      {{ 'welcomePage.tryit' | translate }}
    </button>
    <a mat-button color="primary" (click)="scroll()">{{
      'welcomePage.about team' | translate
    }}</a>
  </div>
  <h3>{{ 'welcomePage.about rsschool' | translate }}</h3>
  <div id="aboutteam" class="team">
    <h2 class="about">{{ 'welcomePage.about team' | translate }}</h2>
    <div class="members">
      <mat-card class="member" *ngFor="let number of [0, 1, 2, 3]">
        <mat-card-title class="card-title-wrapper"
          ><a
            class="card-title"
            mat-button
            color="primary"
            href="{{ 'team.member' + number + '.github' | translate }}"
            >{{ 'team.member' + number + '.name' | translate }}</a
          >
        </mat-card-title>
        <mat-card-content>
          {{ 'team.member' + number + '.role' | translate }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
