<p>footer works!</p>
<footer className="footer">
  <div className="wrapper footer__wrapper">
    <a
      className="footer__logo"
      href="https://rs.school/js/"
      target="_blank"
      rel="noopener noreferrer"
    >
    </a>
    <p>2022</p>
    <div className="footer__team">
      <a
        className="git-nickname"
        href="https://github.com/"
        target="_blank"
        rel="noopener noreferrer"
        >ff</a
      >
      <a
        className="git-nickname"
        href="https://github.com/BlueOwll"
        target="_blank"
        rel="noopener noreferrer"
        >BlueOwll</a
      >
      <a
        className="git-nickname"
        href="https://github.com/"
        target="_blank"
        rel="noopener noreferrer"
        >fff</a
      >
    </div>
  </div>
</footer>
