.block {
  padding: 10px 1rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.edit-button {
  align-self: flex-start;
  margin: .25em 0; // fix mat-form-field margin
  font-size: 0.85rem;
  padding: 0.2em 1.5em;
}

@media (max-width: 414.98px) {
  .wrapper {
    flex-wrap: wrap;
    gap: 0;
  }
}
