@import "abstracts/variables";
.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.board {
  display: flex;
  gap: 0.5rem;
  max-height: calc(100% - 40px - 1vh);
}
.container {
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
  padding: $wrapper-1200-padding;
  @include media-mobile {
    padding: 2vw;
  }
}
.board-title {
  display: flex;
  gap: 5vw;
  margin: 0 0 1vh 1vw;
}
h2{
  line-height: 40px;
  margin: 0;
}
