.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.board {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  height: 100%;
  padding-bottom: 90px;
}
