@import "abstracts/variables";
:host{
  height: 100%;
  box-sizing: border-box;
}
.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.board {
 
  display: flex;
  gap: 1rem;
  height: calc(100% - 8rem);
}
.container {
  box-sizing: border-box;
  height: 100%;
  overflow-y: hidden;
  padding: $wrapper-1200-padding
}
